{
  "swagger" : "2.0",
  "info" : {
    "description" : "Servicios para la aplicación que requiera la información de pasar la Aduana de las Compras Sobre Muelle a Canarias: Información sobre Declaraciones de Valor, Proveedores, Productos, Alertas y relaciones con sus Códigos Taric y REA.\n",
    "version" : "1.0.1",
    "title" : "Logística - Gestión de Aduanas"
  },
  "host" : "busintranet.itg.mercadona.es:80",
  "basePath" : "/logistica/gestion-aduanas/v1.0",
  "schemes" : [ "https" ],
  "paths" : {
    "/declaraciones-valor/sumario" : {
      "get" : {
        "summary" : "Consultar listado reducido de las Declaraciones de Valor.",
        "description" : "Consultar Declaraciones de Valor para listar por pantalla recuperando la información principal sin el detalle.  El servicio admite paginación.\n",
        "operationId" : "getDeclaracionesValor",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido, Código de idioma - Código de país. Ejemplo es-ES",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "codigoUsuario",
          "in" : "query",
          "description" : "Código del usuario logado en el portal. El consumidor deberá informar el usuario asociado al Proveedor que consume el servicio. Se utiliza como filtro. Ejemplo: sgarciae\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "codigoAgencia",
          "in" : "query",
          "description" : "Código de la Agencia de Aduana logada en el portal del proveedor.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paginaInicio",
          "in" : "query",
          "description" : "Desplazamiento (offset) inicial en páginas de entre los resultados de la colección.\n",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "anyo",
          "in" : "query",
          "description" : "Año de la Declaración de Valor.",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "numeroDeclaracion",
          "in" : "query",
          "description" : "Código único de una Declaración de Valor.",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "codigoPedido",
          "in" : "query",
          "description" : "Código del pedido realizado por Mercadona y relacionado con la Declaración de Valor. Es un alfanumérico.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "codigoAlmacen",
          "in" : "query",
          "description" : "Código del almacén destino al que se enviará el pedido.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "nombreAlmacen",
          "in" : "query",
          "description" : "Nombre del almacén donde se entregará el pedido. Se buscará la cadena contenida en los diferentes centros. El tamaño mínimo para la búsqueda son 3 caracteres.\n",
          "required" : false,
          "type" : "string",
          "minLength" : 3
        }, {
          "name" : "paginaTamanyo",
          "in" : "query",
          "description" : "Número de resultados por página que se quiere recuperar.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "orden",
          "in" : "query",
          "description" : "Campo por el que se quiere ordenar, con +- indicaremos el orden (ascendente o descendente).\n",
          "required" : false,
          "type" : "string",
          "default" : "-numeroDeclaracion",
          "enum" : [ "+anyo", "-anyo", "+numeroDeclaracion", "-numeroDeclaracion", "+tipoDeclaracion", "-tipoDeclaracion", "+fechaExpedicion", "+fechaDeclaracion", "+fechaDescarga", "-fechaExpedicion", "-fechaDeclaracion", "-fechaDescarga", "+codigoProveedor", "-codigoProveedor", "+nombreProveedor", "-nombreProveedor", "+numeroPedido", "-numeroPedido" ]
        }, {
          "name" : "codigoProveedor",
          "in" : "query",
          "description" : "Código del Proveedor por el que se quiere filtrar desde pantalla. Se refiere al código del Proveedor que no es el código público.\n",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "nombreProveedor",
          "in" : "query",
          "description" : "Nombre del Proveedor por el que se quiere filtrar desde pantalla. Se buscará la cadena contenida en los diferentes nombres de proveedores. El tamaño mínimo para la búsqueda son 3 caracteres.\n",
          "required" : false,
          "type" : "string",
          "minLength" : 3
        }, {
          "name" : "tipoDeclaracion",
          "in" : "query",
          "description" : "Indica que tipo de documento queremos filtrar para el listado. Se puede filtrar por:\n T: Todos\n F: Factura\n D: Declaración de Valor\n",
          "required" : false,
          "type" : "string",
          "default" : "T",
          "enum" : [ "T", "F", "D" ]
        }, {
          "name" : "estadoDeclaracion",
          "in" : "query",
          "description" : "Estados en los que se puede encontrar una Declaración de Valor:  \n  TD: Todos\n  CM: Declaración de Valor de tipo carga manual\n  VP: Validación Pendiente\n  VI: Validación Incorrecta\n  VC: Validación Correcta\n",
          "required" : false,
          "type" : "string",
          "default" : "TD",
          "enum" : [ "TD", "CM", "VP", "VI", "VC" ]
        }, {
          "name" : "estadoDescarga",
          "in" : "query",
          "description" : "Indica si queremos ver las Declaraciones de Valor que han sido descargadas o no:  \n  T: Todas las Declaraciones de Valor\n  D: Solo las descargadas\n  N: Solo las no descargadas\n",
          "required" : false,
          "type" : "string",
          "default" : "T",
          "enum" : [ "T", "D", "N" ]
        }, {
          "name" : "tipoFechaFiltro",
          "in" : "query",
          "description" : "Tipo de fecha por la que se puede realizar el filtrado: FE: Fecha Expedición FV: Fecha Declaración de Valor FD: Fecha descarga\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "FE", "FV", "FD" ]
        }, {
          "name" : "fechaDesde",
          "in" : "query",
          "description" : "Fecha desde la que se quiere hacer el filtro de Declaraciones de Valor. Este campo solamente aplica si se informa tipoFechaFiltro\n",
          "required" : false,
          "type" : "string",
          "default" : "0001-01-01T00:00:00.022Z",
          "format" : "date-time"
        }, {
          "name" : "fechaHasta",
          "in" : "query",
          "description" : "Fecha hasta la que se quiere hacer el filtro de Declaraciones de Valor. Este campo solamente aplica si se informa tipoFechaFiltro.\n",
          "required" : false,
          "type" : "string",
          "default" : "9999-01-01T00:00:00.022Z",
          "format" : "date-time"
        } ],
        "responses" : {
          "200" : {
            "description" : "El servicio devuelve las Declaraciones de Valor con los filtros aplicados.\n",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/declaraciones-valor" : {
      "post" : {
        "summary" : "Crear una nueva Declaración de Valor.",
        "description" : "Crear una nueva Declaración de Valor a través de la Expedición recibida. Si no se informa la clave principal se genera un nuevo código de Declaración de Valor con el año vigente y versión 1. Si se informa la clave principal se crea un nuevo recurso Declaración de Valor incrementando la versión. \n",
        "operationId" : "postDeclaracionValor",
        "parameters" : [ {
          "in" : "body",
          "name" : "datos",
          "description" : "Datos compuestos por la cabecera y un listado de líneas de la Declaraciones de Valor.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/datos"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "El objeto se ha creado correctamente.  Se devuelve el identificador único de la Declaración de Valor generada.\n",
            "schema" : {
              "$ref" : "#/definitions/inline_response_201"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/declaraciones-valor/{codigoDeclaracion}-{anyo}-{version}" : {
      "get" : {
        "summary" : "Obtener el detalle de una Declaración de Valor.",
        "description" : "Detalle de una Declaración de Valor.  Se obtiene toda la información de la declaración, histórico de versiones, datos de la cabecera y líneas de productos.\n",
        "operationId" : "getDeclaracionValor",
        "parameters" : [ {
          "name" : "codigoDeclaracion",
          "in" : "path",
          "description" : "Código de la Declaración de Valor.",
          "required" : true,
          "type" : "number"
        }, {
          "name" : "anyo",
          "in" : "path",
          "description" : "Año en el que se ha generado la Declaración de Valor.",
          "required" : true,
          "type" : "number"
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "Versión de la Declaración de Valor.",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido, Código de idioma - Código de país. Ejemplo es-ES.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ejecución correcta.  El servicio devuelve una Declaración de Valor con el detalle completo.\n",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_1"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/declaraciones-valor/{codigoDeclaracion}-{anyo}-{version}/confirmar-descarga" : {
      "patch" : {
        "summary" : "Actualizar el estado de la descarga.",
        "description" : "Actualizar el estado 'descargado' de una Declaración de Valor.\n",
        "operationId" : "patchDeclaracionValorEstadoDescarga",
        "parameters" : [ {
          "name" : "codigoDeclaracion",
          "in" : "path",
          "description" : "Código de la Declaración de Valor.",
          "required" : true,
          "type" : "number"
        }, {
          "name" : "anyo",
          "in" : "path",
          "description" : "Año en el que se ha generado la Declaración de Valor.",
          "required" : true,
          "type" : "number"
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "Versión de la Declaración de Valor.",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "codigoProveedor",
          "in" : "query",
          "description" : "Código del Proveedor que está confirmando la descarga de la Declaración de Valor.",
          "required" : false,
          "type" : "number"
        }, {
          "in" : "body",
          "name" : "datos",
          "description" : "Datos para actualizar el estado de la descarga de una Declaración de Valor.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/datos_1"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Se actualiza el estado de la descarga y se devuelve el código de la Declaración de Valor actualizada.\n",
            "schema" : {
              "$ref" : "#/definitions/inline_response_201"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/declaraciones-valor/{codigoDeclaracion}-{anyo}-{version}/documento" : {
      "get" : {
        "summary" : "Descargar la Declaración de Valor.",
        "description" : "Descargar una Declaración de Valor en el formato indicado.  El formato puede ser PDF y CSV.\n",
        "operationId" : "getDeclaracionValorDocumento",
        "produces" : [ "application/pdf", "text/csv" ],
        "parameters" : [ {
          "name" : "codigoDeclaracion",
          "in" : "path",
          "description" : "Código de la Declaración de Valor.",
          "required" : true,
          "type" : "number"
        }, {
          "name" : "anyo",
          "in" : "path",
          "description" : "Año en el que se ha generado la Declaración de Valor.",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "Versión de la Declaración de Valor.",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido, Código de idioma - Código de país. Ejemplo es-ES.",
          "required" : false,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "codigoUsuario",
          "in" : "query",
          "description" : "Código del usuario logado en la aplicación que consume el servicio.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tipoDocumento",
          "in" : "query",
          "description" : "Formato en el que queremos descargar la Declaración de Valor.",
          "required" : true,
          "type" : "string",
          "default" : "pdf",
          "enum" : [ "pdf", "csv" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "El recurso existe y el servicio lo devuelve en el formato indicado.",
            "schema" : {
              "type" : "file"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/empresas/{codigoEmpresa}/datos-fiscales" : {
      "get" : {
        "summary" : "Obtener los datos fiscales de una empresa.",
        "description" : "Obtener los datos fiscales de una empresa obtenida por el código de empresa.",
        "operationId" : "getDatosFiscalesEmpresa",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido, Código de idioma - Código de país. Ejemplo es-ES.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "codigoEmpresa",
          "in" : "path",
          "description" : "Código de la empresa de la que se quieren obtener los datos fiscales.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Devuelve los datos fiscales de la empresa filtrada.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_2"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/proveedores" : {
      "get" : {
        "summary" : "Consultar listado de Proveedores.",
        "description" : "Consulta un listado de proveedores que cumplan con los filtros introducidos. Los filtros pueden ser código, nombre, indicador activo para CsM (Compra sobre Muelle), indicador es Agencia Aduana. El servicio dispone de paginación.\n",
        "operationId" : "getProveedores",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido, Código de idioma - Código de país. Ejemplo es-ES.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "codigoProveedor",
          "in" : "query",
          "description" : "Código del Proveedor para filtrar.",
          "required" : false,
          "type" : "integer"
        }, {
          "name" : "nombreProveedor",
          "in" : "query",
          "description" : "Nombre del proveedor.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "estaActivo",
          "in" : "query",
          "description" : "Proveedor activo para trabajar con Gestión de Aduanas.",
          "required" : true,
          "type" : "boolean",
          "default" : true
        }, {
          "name" : "esAgencia",
          "in" : "query",
          "description" : "Proveedor que es Agencia de Aduana con la que trabajan los gerentes de aduana de Mercadona.\n",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "paginaInicio",
          "in" : "query",
          "description" : "Desplazamiento (offset) inicial en páginas de entre los resultados de la colección.\n",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "paginaTamanyo",
          "in" : "query",
          "description" : "Número de resultados por página.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "orden",
          "in" : "query",
          "description" : "Campo por el que se quiere ordenar, con +- indicaremos el orden (ascendente o descendente).\n",
          "required" : false,
          "type" : "string",
          "default" : "+codigoProveedor",
          "enum" : [ "+codigoProveedor", "-codigoProveedor", "+nombreProveedor", "-nombreProveedor" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Devuelve un listado de proveedores.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_3"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      },
      "patch" : {
        "summary" : "Modificar los indicadores de los proveedores.",
        "description" : "Modificar un listado de proveedores.  Permite modificar el indicador Agente de Aduana y la marca CSM (Compra sobre Muelle) sobre un listado de proveedores.\n",
        "operationId" : "putProveedores",
        "parameters" : [ {
          "in" : "body",
          "name" : "datos",
          "description" : "Datos para actualizar las marcas del proveedor.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/datos_2"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Se actualizan los indicadores en el listado de proveedores.\n",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_4"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400"
            }
          }
        }
      }
    },
    "/proveedores/{codigoProveedor}" : {
      "get" : {
        "summary" : "Obtener un Proveedor con sus relaciones.",
        "description" : "Detalle de un Proveedor con los Datos de Contacto y sus Proveedores relacionados. Permite realizar la obtención del Proveedor en caso de que sea Agente de Aduana o Proveedor de Compras sobre Muelle (CSM). El servicio admite paginación para los Proveedores relacionados.\n",
        "operationId" : "getProveedor",
        "parameters" : [ {
          "name" : "codigoProveedor",
          "in" : "path",
          "description" : "Código del Proveedor.",
          "required" : true,
          "type" : "number"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "codigoUsuario",
          "in" : "query",
          "description" : "Código del usuario logado en la aplicación.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tipoBusqueda",
          "in" : "query",
          "description" : "Indicador para saber que tipo de Proveedor y relación queremos recuperar. Si buscamos con el parámetro PROV, en el campo de salida 'relacionProveedor' devolvemos las Agencias de Aduana con la que trabaja un Proveedor. Si buscamos con el parámetro AGEN, en el campo de salida 'relacionProveedor' devolvemos los Proveedores con los que trabaja la Agencia de Aduana.  Los dos pertenecen a la misma entidad Proveedor pero tienen distinto rol.\n",
          "required" : true,
          "type" : "string",
          "enum" : [ "PROV", "AGEN" ]
        }, {
          "name" : "paginaInicio",
          "in" : "query",
          "description" : "Desplazamiento (offset) inicial en páginas de entre los resultados de la colección.",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "paginaTamanyo",
          "in" : "query",
          "description" : "Número de resultados por página.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "orden",
          "in" : "query",
          "description" : "Campo por el que se quiere ordenar, con +- indicaremos el orden (ascendente o descendente).\n",
          "required" : false,
          "type" : "string",
          "default" : "+codigo",
          "enum" : [ "+codigo", "-codigo", "+nombre", "-nombre" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ejecución correcta. Devuelve el detalle del Proveedor y sus relaciones.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_5"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/codigos-taric" : {
      "get" : {
        "summary" : "Consultar listado de Códigos Taric.",
        "description" : "Lista de códigos Taric para mostrar por pantalla recuperando la información principal. También se recupera el número total de códigos Rea asociados a cada Taric y los productos que lo tienen asociado.\n",
        "operationId" : "getCodigoTarics",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "codigoMin",
          "in" : "query",
          "description" : "Código desde el que se quiere hacer el filtro de Código Taric.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "codigoMax",
          "in" : "query",
          "description" : "Código hasta el que se quiere hacer el filtro de Código Taric.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "descripcion",
          "in" : "query",
          "description" : "Descripción de alguno de los campos del Taric.  Se buscará la cadena introducida en todas las descripciones. \n",
          "required" : false,
          "type" : "string",
          "minLength" : 3
        }, {
          "name" : "orden",
          "in" : "query",
          "description" : "Campo por el que se quiere ordenar, con +- indicaremos el orden (ascendente o descendente)\n",
          "required" : false,
          "type" : "string",
          "default" : "+codigo",
          "enum" : [ "+codigo", "-codigo", "+capitulo", "-capitulo" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Devuelve la lista de los Tarics filtrada por los campos requeridos.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_6"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      },
      "post" : {
        "summary" : "Crear un nuevo Código Taric.",
        "description" : "Crea un nuevo Código Taric con sus descripciones y familias para poder ser asociado a un Producto  en caso de querer ser exportado.\n",
        "operationId" : "postCodigoTaric",
        "parameters" : [ {
          "in" : "body",
          "name" : "datos",
          "description" : "Datos correspondientes al Código Taric que se va a crear.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/datos_3"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Devuelve el estado de la operación.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_201_1"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/codigos-taric/{codigoTaric}" : {
      "get" : {
        "summary" : "Obtener detalle del Código Taric.",
        "description" : "Detalle del Código Taric con sus asociaciones con código REA y Productos.",
        "operationId" : "getCodigoTaric",
        "parameters" : [ {
          "name" : "codigoTaric",
          "in" : "path",
          "description" : "Código del Taric.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        } ],
        "responses" : {
          "200" : {
            "description" : "Devuelve el Código Taric con su detalle.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_7"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Borrar un Código Taric.",
        "description" : "Borra un Código Taric informando su código. Si el Código Taric está asociado a algún Producto no se permitirá el borrado.\n",
        "operationId" : "deleteCodigoTaric",
        "parameters" : [ {
          "name" : "codigoTaric",
          "in" : "path",
          "description" : "Código del Taric que se va a borrar.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Ejecución correcta. El recurso es eliminado con éxito."
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      },
      "patch" : {
        "summary" : "Modificar un Código Taric.",
        "description" : "Modifica las propiedades de un Código Taric.",
        "operationId" : "patchCodigoTaric",
        "parameters" : [ {
          "name" : "codigoTaric",
          "in" : "path",
          "description" : "Código del Taric que se va a modificar.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "datos",
          "description" : "Datos para actualizar el Código Taric.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/datos_4"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ejecución correcta. Devuelve el contenido del recurso.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_6"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/codigos-taric/reemplazar" : {
      "put" : {
        "summary" : "Reemplazar un Código Taric por otro.",
        "description" : "Reemplaza la asociación de los productos de un Taric a otro (el Taric destino debe existir).  La relación con los Códigos REA del Código Taric sustituido se eliminan.\n",
        "operationId" : "putReemplazarCodigoTaric",
        "parameters" : [ {
          "in" : "body",
          "name" : "datos",
          "description" : "Se compone de metadatos y los datos. Se informa el Código Taric origen, Código Taric destino y usuario logado en la aplicación. El usuario es necesario por auditoria.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/datos_5"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ejecución correcta.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_4"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/codigos-rea" : {
      "get" : {
        "summary" : "Consultar listado de Códigos REA.",
        "description" : "Lista de Códigos REA para mostrar por pantalla recuperando la información principal. La operación admite filtros y ordenación.\n",
        "operationId" : "getCodigosRea",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "codigoMin",
          "in" : "query",
          "description" : "Código desde el que se quiere hacer el filtro de REAs.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "codigoMax",
          "in" : "query",
          "description" : "Código hasta el que se quiere hacer el filtro de REAs.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "codigoTaric",
          "in" : "query",
          "description" : "Código de un Taric.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orden",
          "in" : "query",
          "description" : "Campo por el que se quiere ordenar, con +- indicaremos el\norden(ascendente o descendente).\n",
          "required" : false,
          "type" : "string",
          "default" : "+codigo",
          "enum" : [ "+codigo", "-codigo", "+numeroProductos", "-numeroProductos", "+codigoTaric", "-codigoTaric" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Devuelve la lista de REAs.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_8"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      },
      "post" : {
        "summary" : "Crear un nuevo Código REA.",
        "description" : "Se crea un nuevo Código REA para poder asociar a un Código Taric y Merca.",
        "operationId" : "postCodigoRea",
        "parameters" : [ {
          "in" : "body",
          "name" : "datos",
          "description" : "Datos correspondientes al Código REA que se va a crear.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/datos_6"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Ejecución correcta. Se devuelve el Código REA creado.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_8"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/codigos-rea/{codigoRea}" : {
      "get" : {
        "summary" : "Obtener detalle del Código REA.",
        "description" : "Detalle del Código REA con todas sus asociaciones.",
        "operationId" : "getCodigoRea",
        "parameters" : [ {
          "name" : "codigoRea",
          "in" : "path",
          "description" : "Código del REA.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ejecución correcta. Se obtiene el Código REA.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_9"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Borrar un Código REA.",
        "description" : "Borra un Código REA (Regimen especial de abastecimiento) existente.\n",
        "operationId" : "deleteCodigoRea",
        "parameters" : [ {
          "name" : "codigoRea",
          "in" : "path",
          "description" : "Código del REA.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "Ejecución correcta. El recurso es eliminado con éxito."
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/productos" : {
      "get" : {
        "summary" : "Consultar listado de productos.",
        "description" : "Lista de productos para mostrar en pantalla recuperando la información principal.  El servicio admite filtros, paginación y ordenación.",
        "operationId" : "getProductos",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "denominacion",
          "in" : "query",
          "description" : "Denominación del producto.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "marca",
          "in" : "query",
          "description" : "Marca del producto.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "codigoTaric",
          "in" : "query",
          "description" : "Código Taric asociado al producto.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "codigoRea",
          "in" : "query",
          "description" : "Código REA asociado al producto.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "subvencion",
          "in" : "query",
          "description" : "Indicador de si tiene o no subvención.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "formatoVenta",
          "in" : "query",
          "description" : "Formato de venta del producto.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "listoParaComer",
          "in" : "query",
          "description" : "Indicador que dice si los productos son listos para comer o no.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "activoAduana",
          "in" : "query",
          "description" : "Indica si los productos filtrados están activos para Gestión de Aduanas o no. Por defecto se devuelven todos los productos.\n",
          "required" : false,
          "type" : "string",
          "default" : "TODO",
          "enum" : [ "TODO", "SI", "NO" ]
        }, {
          "name" : "codigo",
          "in" : "query",
          "description" : "Código del Producto  / merca.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "paginaInicio",
          "in" : "query",
          "description" : "Desplazamiento (offset) inicial en páginas de entre los resultados de la colección.",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "paginaTamanyo",
          "in" : "query",
          "description" : "Número de resultados por página.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "orden",
          "in" : "query",
          "description" : "Campo por el que se quiere ordenar, con +- indicaremos el orden(ascendente o descendente).\n",
          "required" : false,
          "type" : "string",
          "default" : "+codigo",
          "enum" : [ "+codigo", "-codigo", "+denominacion", "-denominacion", "+marca", "-marca", "+taric", "-taric", "+rea", "-rea" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Devuelve la lista de productos con el filtro aplicado.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_10"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/productos/{codigoProducto}" : {
      "get" : {
        "summary" : "Obtener detalle del Producto.",
        "description" : "Detalle del Producto con todas sus asociaciones de Gestión de Aduanas.",
        "operationId" : "getProducto",
        "parameters" : [ {
          "name" : "codigoProducto",
          "in" : "path",
          "description" : "Código del producto.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ejecución correcta. Devuelve el detalle del producto.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_11"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/expediciones/cargar" : {
      "post" : {
        "summary" : "Iniciar un proceso de carga de una Expedición.",
        "description" : "Se inicia un proceso de carga de Expedición que consiste en:\n  1.- Validar que el documento recibido tiene el formato y contenido correcto.\n  2.- Crear la Expedición.\n  3.- Crear la Declaración de Valor relacionándola con la Expedición creada previamente.\n  4.- Generación de fichero albergándolo en el servidor destino para posterior procesado y finalización de la carga de Expedición.\n",
        "operationId" : "postCargarExpedicion",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "ficheroExpedicion",
          "in" : "formData",
          "description" : "Fichero con información de la Expedición para iniciar el proceso de carga.\n",
          "required" : true,
          "type" : "file"
        }, {
          "name" : "codigoUsuario",
          "in" : "formData",
          "description" : "Código del usuario logado en el portal que consume la aplicación. Usuario requerido por auditoria.  Necesario saber quién crea el recurso por auditoria.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locale",
          "in" : "formData",
          "description" : "Idioma preferido.",
          "required" : false,
          "type" : "string",
          "default" : "es-ES"
        } ],
        "responses" : {
          "201" : {
            "description" : "Expedición cargada correctamente.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_201_2"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    },
    "/alertas" : {
      "get" : {
        "summary" : "Consulta listado de Alertas.",
        "description" : "Listado de Alertas generadas en Gestión de Aduanas. El servicio admite filtros, paginación y ordenación.\n",
        "operationId" : "getAlertas",
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "description" : "Idioma preferido.",
          "required" : true,
          "type" : "string",
          "default" : "es-ES"
        }, {
          "name" : "fechaDesde",
          "in" : "query",
          "description" : "Fecha desde la que se quiere hacer el filtro de alertas.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "fechaHasta",
          "in" : "query",
          "description" : "Fecha hasta la que se quiere hacer el filtro de alertas.",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "numeroProveedor",
          "in" : "query",
          "description" : "Número del Proveedor que está asociado a la alerta.",
          "required" : false,
          "type" : "number"
        }, {
          "name" : "nombreProveedor",
          "in" : "query",
          "description" : "Nombre del Proveedor que está asociado a la alerta.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tipoDeAlerta",
          "in" : "query",
          "description" : "Tipo de alerta que se quiere filtrar. Por defecto se devolverán todos los tipos. Las opciones de filtrado son:\n  - PRODU: Producto\n  - TARIC: Código Taric\n  - EAN: EAN Producto\n  - EXPED: Expedición\n  - PED: Pedido\n  - PROV: Proveedor\n  - PO_CARGA: Punto Operacional de Carga\n  - ALM: Almacén\n",
          "required" : false,
          "type" : "string",
          "default" : "TODO",
          "enum" : [ "TODO", "PRODU", "TARIC", "EAN", "EXPED", "PED", "PROV", "PO_CARGA", "ALM" ]
        }, {
          "name" : "estado",
          "in" : "query",
          "description" : "Estado en el que se puede encontrar la alerta.  Por defecto se mostrarán todas.\n",
          "required" : false,
          "type" : "string",
          "default" : "TODAS",
          "enum" : [ "TODAS", "ACTIVAS", "RESUELTAS" ]
        }, {
          "name" : "paginaInicio",
          "in" : "query",
          "description" : "Desplazamiento (offset) inicial en páginas de entre los resultados de la colección.\n",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "paginaTamanyo",
          "in" : "query",
          "description" : "Número de resultados por página.",
          "required" : false,
          "type" : "integer",
          "default" : 10
        }, {
          "name" : "orden",
          "in" : "query",
          "description" : "Campo por el que se quiere ordenar, con +- indicaremos el orden (ascendente o descendente).\n",
          "required" : false,
          "type" : "string",
          "default" : "+fecha",
          "enum" : [ "+fecha", "-fecha" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Devuelve la lista de alertas.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_12"
            }
          },
          "400" : {
            "description" : "Formato de envío inválido o error funcional.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          },
          "500" : {
            "description" : "Error interno en el servidor.",
            "schema" : {
              "$ref" : "#/definitions/inline_response_400_1"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "DatosFiscalesType" : {
      "type" : "object",
      "properties" : {
        "codigo" : {
          "type" : "string",
          "example" : "8.0",
          "description" : "Código de la empresa que recuperamos."
        },
        "descRazonSocial" : {
          "type" : "string",
          "example" : "MERCADONA S.A.",
          "description" : "Razón social de la empresa."
        },
        "numCif" : {
          "type" : "string",
          "example" : "A46103834",
          "description" : "CIF de la empresa."
        },
        "descDireccion" : {
          "type" : "string",
          "example" : "C/ VALENCIA 5",
          "description" : "Dirección de la empresa."
        },
        "descCodigoPostal" : {
          "type" : "string",
          "example" : "46016",
          "description" : "Código postal de la dirección fiscal de la empresa."
        },
        "descPoblacion" : {
          "type" : "string",
          "example" : "TAVERNES BLANQUES",
          "description" : "Población de la dirección fiscal de la empresa."
        },
        "descProvincia" : {
          "type" : "string",
          "example" : "VALENCIA",
          "description" : "Provincia de la dirección fiscal de la empresa."
        },
        "descPais" : {
          "type" : "string",
          "example" : "ESPAÑA",
          "description" : "País de la dirección fiscal de la empresa."
        }
      },
      "additionalProperties" : { }
    },
    "ProveedorType" : {
      "type" : "object",
      "properties" : {
        "codigoPublico" : {
          "type" : "string",
          "description" : "Código del proveedor."
        },
        "nombre" : {
          "type" : "string",
          "description" : "Nombre del proveedor."
        },
        "provincia" : {
          "type" : "string",
          "description" : "Provincia del proveedor."
        },
        "codigo" : {
          "type" : "string",
          "description" : "Código legacy del proveedor."
        },
        "fechaActivacion" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha de activación del Proveedor en Gestión de Aduanas."
        }
      }
    },
    "ProveedorExtendedType" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ProveedorType"
      }, {
        "type" : "object",
        "properties" : {
          "direccionFiscal" : {
            "$ref" : "#/definitions/ProveedorExtendedType_direccionFiscal"
          },
          "personasContacto" : {
            "type" : "array",
            "description" : "Lista con las personas de contacto asociadas al proveedor.  Incluye el teléfono y email del contacto además de los indicadores para ser notificado o no.\n",
            "items" : {
              "$ref" : "#/definitions/ProveedorExtendedType_personasContacto"
            }
          },
          "relacionProveedor" : {
            "type" : "array",
            "description" : "Lista de proveedores relacionados. Relación entre proveedores que se pueden dar en Gestión de Aduanas.\n",
            "items" : {
              "$ref" : "#/definitions/ProveedorExtendedType_relacionProveedor"
            }
          }
        }
      } ]
    },
    "DeclaracionValorSumaryType" : {
      "type" : "object",
      "properties" : {
        "esDeclaracionCorrecta" : {
          "type" : "boolean",
          "description" : "Indica el estado de la Declaración de Valor."
        },
        "esCargaAutomatica" : {
          "type" : "boolean",
          "description" : "Indica si la Declaración de Valor fue cargada de forma manual o automática."
        },
        "anyo" : {
          "type" : "integer",
          "description" : "Año de la Declaración de Valor."
        },
        "numero" : {
          "type" : "integer",
          "description" : "Número de la Declaración de Valor."
        },
        "version" : {
          "type" : "integer",
          "description" : "Versión de la Declaración de Valor."
        },
        "esFactura" : {
          "type" : "boolean",
          "description" : "Indica si es factura o no la Declaración de Valor."
        },
        "importeTotal" : {
          "type" : "number",
          "example" : 3324.32,
          "description" : "Importe total de la Declaración de Valor."
        },
        "fechaExpedicion" : {
          "type" : "string",
          "format" : "date",
          "description" : "Fecha en la que se envió la Expedición."
        },
        "proveedor" : {
          "$ref" : "#/definitions/ProveedorType"
        },
        "numeroPedido" : {
          "type" : "string",
          "example" : "6551",
          "description" : "Número del pedido asociado a la Declaración de Valor."
        },
        "fechaGeneracion" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha de la generación de la Declaración de Valor."
        },
        "estaDescargada" : {
          "type" : "boolean",
          "description" : "Indicador sobre si la Declaración de Valor ha sido descargada o no."
        },
        "fechaDescargaDocumento" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha en la que fue descargada la Declaración de Valor."
        }
      }
    },
    "CabeceraDeclaracionValorType" : {
      "type" : "object",
      "properties" : {
        "datosDeclaracion" : {
          "$ref" : "#/definitions/CabeceraDeclaracionValorType_datosDeclaracion"
        },
        "datosPedido" : {
          "$ref" : "#/definitions/CabeceraDeclaracionValorType_datosPedido"
        },
        "datosExportador" : {
          "$ref" : "#/definitions/CabeceraDeclaracionValorType_datosExportador"
        },
        "datosDestinatario" : {
          "$ref" : "#/definitions/CabeceraDeclaracionValorType_datosDestinatario"
        }
      }
    },
    "LineaDeclaracionValorType" : {
      "type" : "object",
      "properties" : {
        "producto" : {
          "$ref" : "#/definitions/LineaDeclaracionValorType_producto"
        }
      },
      "description" : "Tipo de dato para representar una línea de la Declaración de Valor.\n",
      "additionalProperties" : { }
    },
    "DatosComunesDeclaracionValorType" : {
      "type" : "object",
      "properties" : {
        "esFactura" : {
          "type" : "boolean",
          "description" : "Indica si la Declaración de Valor es factura."
        },
        "esUltimaVigente" : {
          "type" : "boolean",
          "description" : "Indica si se trata de la última versión vigente de la Declaración de Valor."
        },
        "esCorrecta" : {
          "type" : "boolean",
          "description" : "Indica si la Declaración de Valor es correcta o no en el momento de generarla cuando se recibe la Expedición.  Se refiere a las validaciones funcionales de productos, precios, etc.\n"
        },
        "estaNotificada" : {
          "type" : "boolean",
          "description" : "Indica si se ha enviado la notificación. La notificación enviada indica si la generación de la Declaración de Valor es correcta o no."
        },
        "estaDescargada" : {
          "type" : "boolean",
          "description" : "Indica si el Agente de Aduana se ha descargado la Declaración de Valor."
        },
        "fechaDescargaDV" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha de cuando se descargó por primera vez la Declaración de Valor por el Agente de Aduanas."
        },
        "esCargaManual" : {
          "type" : "boolean",
          "description" : "Marca que indica si la Declaración de Valor se ha generado mediante carga manual,  si no, es carga automática."
        },
        "tienePdf" : {
          "type" : "boolean",
          "description" : "Marca que indica si la Declaración de Valor tiene pdf adjunto."
        },
        "tieneCsv" : {
          "type" : "boolean",
          "description" : "Marca que indica si la Declaración de Valor tiene csv adjunto."
        }
      },
      "description" : "Indicadores generales de la Declaración de Valor."
    },
    "HistoricoDeclaracionValorType" : {
      "type" : "object",
      "properties" : {
        "evento" : {
          "type" : "string",
          "description" : "Evento asociado a la Declaración de Valor."
        },
        "fechaEvento" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha en la que se produjo el evento."
        },
        "version" : {
          "type" : "integer",
          "description" : "Versión de la Declaración de Valor."
        },
        "vigente" : {
          "type" : "boolean",
          "description" : "Indicador de si la Declaración de Valor asociada al evento es vigente o no."
        }
      },
      "description" : "Representa uno de los eventos asociados a una Declaración de Valor."
    },
    "DeclaracionValorType" : {
      "type" : "object",
      "properties" : {
        "datosComunes" : {
          "$ref" : "#/definitions/DatosComunesDeclaracionValorType"
        },
        "cabecera" : {
          "$ref" : "#/definitions/CabeceraDeclaracionValorType"
        },
        "historico" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/HistoricoDeclaracionValorType"
          }
        },
        "lineas" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LineaDeclaracionValorType"
          }
        }
      },
      "description" : "Tipo de dato para representar la Declaración de Valor. Esta contiene los datos comunes, la cabecera, las líneas y el historial de eventos principales asociados.\n"
    },
    "TaricType" : {
      "type" : "object",
      "required" : [ "codigo" ],
      "properties" : {
        "codigo" : {
          "type" : "string",
          "description" : "Código del Taric. El Código Taric es un código numérico que se asocia a cada mercancía en función de su naturaleza.\n"
        },
        "capitulo" : {
          "type" : "string",
          "example" : "Preparaciones de hortalizas.",
          "description" : "Descripción del capítulo del Taric."
        },
        "partidaSA" : {
          "type" : "string",
          "example" : "Purés y pastas de frutas.",
          "description" : "Descripción de la partida SA del Taric."
        },
        "subPartidaSA" : {
          "type" : "string",
          "example" : "AROMA MANTEQUILLA G-146. LÍQUIDA. INSUMO EN LA INDUSTRIA ALIMENTARIA.",
          "description" : "Descripción de la subpartida SA del Taric."
        },
        "subPartidaNC" : {
          "type" : "string",
          "example" : "Productos de la molinería; malta; almidón y fécula; inulina; gluten de trigo.",
          "description" : "Descripción de la subpartida NC del Taric."
        },
        "aperturaTARIC" : {
          "type" : "string",
          "example" : "Que contengan menos del 70% de su peso en azúcar.",
          "description" : "Descripción de la apertura del Taric."
        },
        "numeroREAs" : {
          "type" : "integer",
          "example" : 3,
          "description" : "Número de REAs asociados al Taric."
        },
        "numeroProductos" : {
          "type" : "integer",
          "example" : 23,
          "description" : "Número de productos asociados a ese Taric."
        }
      }
    },
    "TaricExtendedType" : {
      "allOf" : [ {
        "$ref" : "#/definitions/TaricType"
      }, {
        "type" : "object",
        "required" : [ "codigo" ],
        "properties" : {
          "codigo" : {
            "type" : "string",
            "description" : "Código del Taric."
          },
          "reas" : {
            "type" : "array",
            "description" : "Lista de códigos REAs.",
            "items" : {
              "$ref" : "#/definitions/ReaExtendedType"
            }
          },
          "productos" : {
            "type" : "array",
            "description" : "Lista de productos.",
            "items" : {
              "$ref" : "#/definitions/ProductoType"
            }
          }
        }
      } ]
    },
    "ReaType" : {
      "type" : "object",
      "required" : [ "codigo" ],
      "properties" : {
        "codigo" : {
          "type" : "string",
          "description" : "Código del REA."
        },
        "codigoTaric" : {
          "type" : "string",
          "description" : "Código de Taric asociado."
        },
        "numeroProductos" : {
          "type" : "integer",
          "description" : "Número de productos asociados al Código REA."
        }
      },
      "additionalProperties" : { }
    },
    "ReaExtendedType" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ReaType"
      }, {
        "type" : "object",
        "required" : [ "codigo" ],
        "properties" : {
          "codigo" : {
            "type" : "string",
            "description" : "Código del REA."
          },
          "productos" : {
            "type" : "array",
            "description" : "Lista de productos.",
            "items" : {
              "$ref" : "#/definitions/ProductoType"
            }
          }
        }
      } ]
    },
    "ProductoType" : {
      "type" : "object",
      "required" : [ "codigo" ],
      "properties" : {
        "codigo" : {
          "type" : "string",
          "description" : "Código del Producto / Merca."
        },
        "denominacion" : {
          "type" : "string",
          "description" : "Denominación del producto."
        },
        "formatoVenta" : {
          "type" : "string",
          "description" : "Formato de venta del producto."
        },
        "marca" : {
          "type" : "string",
          "description" : "Marca del producto."
        },
        "denominacionAlt" : {
          "type" : "string",
          "description" : "Denominación del Producto alternativa."
        },
        "formatoVentaAlt" : {
          "type" : "string",
          "description" : "Formato de venta del Producto alternativo."
        },
        "codigoTaric" : {
          "type" : "string",
          "description" : "Código Taric relacionado."
        },
        "codigoRea" : {
          "type" : "string",
          "description" : "Código REA relacionado."
        },
        "esListoParaComer" : {
          "type" : "boolean",
          "description" : "Indicador que dice si un Producto es listo para comer o no."
        }
      },
      "additionalProperties" : { }
    },
    "ProductoExtendedType" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ProductoType"
      }, {
        "type" : "object",
        "required" : [ "codigo" ],
        "properties" : {
          "codigo" : {
            "type" : "string",
            "description" : "Código del Producto / merca."
          },
          "taric" : {
            "type" : "object",
            "description" : "Taric",
            "allOf" : [ {
              "$ref" : "#/definitions/TaricType"
            } ]
          },
          "rea" : {
            "type" : "array",
            "description" : "Código REA.",
            "items" : {
              "$ref" : "#/definitions/ReaType"
            }
          },
          "proveedores" : {
            "type" : "array",
            "description" : "Lista de Proveedores que sirven el producto.",
            "items" : {
              "$ref" : "#/definitions/ProveedorType"
            }
          }
        }
      } ]
    },
    "AlertasType" : {
      "type" : "object",
      "required" : [ "codigo" ],
      "properties" : {
        "codigo" : {
          "type" : "string",
          "description" : "Código de la alerta."
        },
        "estaActiva" : {
          "type" : "boolean",
          "description" : "Estado de la alerta."
        },
        "fechaAlerta" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha en la que la alerta se ha generado en el sistema."
        },
        "elemento" : {
          "type" : "string",
          "description" : "Elemento que pertenece al contexto de Gestión de Aduanas con el que puede estar relacionada la alerta. Pueden de tipo: Producto, Código TARIC, EAN Producto, Expedición, Pedido, Proveedor, Punto Operacional de Carga, Almacén.\n"
        },
        "resolucion" : {
          "type" : "string",
          "description" : "Texto con la resolución propuesta para la alerta generada en el sistema.\n"
        },
        "tieneEnlace" : {
          "type" : "boolean",
          "description" : "Indica si la alerta tiene o no un enlace relacionado. De este modo, desde pantalla, se podrá navegar directamente a la Declaración de Valor relacionada con la alerta.\n"
        },
        "envioSMS" : {
          "type" : "boolean",
          "description" : "Indica si la alerta se ha enviado por el canal SMS(Mensaje de texto)."
        },
        "envioEmail" : {
          "type" : "boolean",
          "description" : "Indica si la alerta se ha enviado por el canal correo electrónico."
        },
        "declaracionDeValor" : {
          "$ref" : "#/definitions/AlertasType_declaracionDeValor"
        },
        "receptores" : {
          "type" : "array",
          "description" : "Lista de los receptores de la alerta generada.",
          "items" : {
            "$ref" : "#/definitions/AlertasType_receptores"
          }
        }
      },
      "additionalProperties" : { }
    },
    "ErrorType" : {
      "type" : "object",
      "required" : [ "codigo", "descripcion" ],
      "properties" : {
        "codigo" : {
          "type" : "string",
          "description" : "Código del error."
        },
        "descripcion" : {
          "type" : "string",
          "description" : "Descripción de error."
        },
        "detalles" : {
          "type" : "array",
          "description" : "Datos adicionales asociados al error.",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        }
      }
    },
    "inline_response_200" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DeclaracionValorSumaryType"
          }
        }
      }
    },
    "inline_response_400" : {
      "type" : "object",
      "required" : [ "error" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "error" : {
          "$ref" : "#/definitions/ErrorType"
        }
      }
    },
    "declaracionesvalor_metadatos" : {
      "type" : "object",
      "required" : [ "codigoUsuario" ],
      "properties" : {
        "codigoUsuario" : {
          "type" : "string",
          "example" : "sgarciae",
          "description" : "Código del usuario logado en el portal que consume la aplicación.  Usuario requerido por auditoria.  Necesario saber quién crea el recurso.\n"
        },
        "locale" : {
          "type" : "string",
          "description" : "Idioma preferido, Código de idioma - Código de país. Ejemplo es-ES",
          "default" : "es-ES"
        }
      }
    },
    "declaracionesvalor_datos" : {
      "type" : "object",
      "properties" : {
        "declaracionDeValor" : {
          "$ref" : "#/definitions/DeclaracionValorType"
        }
      }
    },
    "datos" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "$ref" : "#/definitions/declaracionesvalor_metadatos"
        },
        "datos" : {
          "$ref" : "#/definitions/declaracionesvalor_datos"
        }
      }
    },
    "inline_response_201_datos" : {
      "type" : "object",
      "properties" : {
        "codigoDeclaracion" : {
          "type" : "number"
        },
        "anyo" : {
          "type" : "number"
        },
        "version" : {
          "type" : "integer"
        }
      }
    },
    "inline_response_201" : {
      "type" : "object",
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "$ref" : "#/definitions/inline_response_201_datos"
        }
      }
    },
    "inline_response_200_1" : {
      "type" : "object",
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "$ref" : "#/definitions/declaracionesvalor_datos"
        }
      }
    },
    "declaracionesvalorcodigoDeclaracionanyoversionconfirmardescarga_metadatos" : {
      "type" : "object",
      "required" : [ "codigoUsuario" ],
      "properties" : {
        "codigoUsuario" : {
          "type" : "string",
          "example" : "sgarciae",
          "description" : "Código del usuario logado en el portal que consume la  aplicación. Usuario requerido por auditoria. \n"
        },
        "locale" : {
          "type" : "string",
          "description" : "Idioma preferido, Código de idioma - Código de país. Ejemplo es-ES.\n",
          "default" : "es-ES"
        }
      }
    },
    "declaracionesvalorcodigoDeclaracionanyoversionconfirmardescarga_datos" : {
      "type" : "object",
      "properties" : {
        "estaDescargada" : {
          "type" : "boolean"
        }
      }
    },
    "datos_1" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "$ref" : "#/definitions/declaracionesvalorcodigoDeclaracionanyoversionconfirmardescarga_metadatos"
        },
        "datos" : {
          "$ref" : "#/definitions/declaracionesvalorcodigoDeclaracionanyoversionconfirmardescarga_datos"
        }
      }
    },
    "inline_response_200_2" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "$ref" : "#/definitions/DatosFiscalesType"
        }
      }
    },
    "inline_response_200_3" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ProveedorType"
          }
        }
      }
    },
    "proveedores_metadatos" : {
      "type" : "object",
      "required" : [ "codigoUsuario" ],
      "properties" : {
        "codigoUsuario" : {
          "type" : "string",
          "example" : "sgarciae",
          "description" : "Código del usuario que consume el API. Necesario por auditoria."
        }
      }
    },
    "proveedores_datos" : {
      "type" : "object",
      "properties" : {
        "marcaCompraSobreMuelle" : {
          "type" : "boolean",
          "description" : "Indica si la lista de proveedores se puede usar o no en la aplicación Gestión de Aduanas.\n"
        },
        "marcaAgenteAduana" : {
          "type" : "boolean",
          "description" : "Indica si la lista de proveedores es Agencia de Aduana en la aplicación Gestión de Aduanas.\n"
        },
        "proveedores" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ProveedorType"
          }
        }
      }
    },
    "datos_2" : {
      "type" : "object",
      "required" : [ "datos", "metadatos" ],
      "properties" : {
        "metadatos" : {
          "$ref" : "#/definitions/proveedores_metadatos"
        },
        "datos" : {
          "$ref" : "#/definitions/proveedores_datos"
        }
      }
    },
    "inline_response_200_4" : {
      "type" : "object",
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        }
      }
    },
    "inline_response_200_5" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "type" : "object",
          "allOf" : [ {
            "$ref" : "#/definitions/ProveedorExtendedType"
          } ]
        }
      }
    },
    "inline_response_400_1" : {
      "type" : "object",
      "required" : [ "error" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "error" : {
          "type" : "object",
          "allOf" : [ {
            "$ref" : "#/definitions/ErrorType"
          } ]
        }
      }
    },
    "inline_response_200_6" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TaricType"
          }
        }
      }
    },
    "codigostaric_metadatos" : {
      "type" : "object",
      "required" : [ "codigoUsuario", "locale" ],
      "properties" : {
        "codigoUsuario" : {
          "type" : "string",
          "example" : "sgarciae",
          "description" : "Código del usuario logado en el portal que consume la  aplicación. Usuario requerido por auditoria.\n"
        },
        "locale" : {
          "type" : "string",
          "description" : "Idioma preferido.",
          "default" : "es-ES"
        }
      }
    },
    "datos_3" : {
      "type" : "object",
      "required" : [ "datos", "metadatos" ],
      "properties" : {
        "metadatos" : {
          "$ref" : "#/definitions/codigostaric_metadatos"
        },
        "datos" : {
          "$ref" : "#/definitions/TaricType"
        }
      }
    },
    "inline_response_201_1" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "$ref" : "#/definitions/TaricType"
        }
      }
    },
    "inline_response_200_7" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "$ref" : "#/definitions/TaricExtendedType"
        }
      }
    },
    "codigostariccodigoTaric_metadatos" : {
      "type" : "object",
      "required" : [ "codigoUsuario", "locale" ],
      "properties" : {
        "codigoUsuario" : {
          "type" : "string",
          "example" : "sgarciae",
          "description" : "Código del usuario que consume el API. Necesario por auditoria."
        },
        "locale" : {
          "type" : "string",
          "description" : "Idioma preferido.",
          "default" : "es-ES"
        }
      }
    },
    "datos_4" : {
      "type" : "object",
      "required" : [ "datos", "metadatos" ],
      "properties" : {
        "metadatos" : {
          "$ref" : "#/definitions/codigostariccodigoTaric_metadatos"
        },
        "datos" : {
          "$ref" : "#/definitions/TaricType"
        }
      }
    },
    "codigostaricreemplazar_metadatos" : {
      "type" : "object",
      "required" : [ "codigoUsuario" ],
      "properties" : {
        "codigoUsuario" : {
          "type" : "string",
          "description" : "Código del usuario logado en la aplicación. Usuario requerido por auditoria."
        },
        "locale" : {
          "type" : "string",
          "description" : "Idioma preferido por el usuario.",
          "default" : "es-ES"
        }
      }
    },
    "codigostaricreemplazar_datos" : {
      "type" : "object",
      "properties" : {
        "codigoUsuario" : {
          "type" : "string",
          "description" : "Código del usuario logado en la aplicación."
        },
        "codigoTaricOrigen" : {
          "type" : "string",
          "description" : "Código del Taric origen."
        },
        "codigoTaricDestino" : {
          "type" : "string",
          "description" : "Código del Taric destino."
        }
      }
    },
    "datos_5" : {
      "type" : "object",
      "required" : [ "datos", "metadatos" ],
      "properties" : {
        "metadatos" : {
          "$ref" : "#/definitions/codigostaricreemplazar_metadatos"
        },
        "datos" : {
          "$ref" : "#/definitions/codigostaricreemplazar_datos"
        }
      }
    },
    "inline_response_200_8" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ReaType"
          }
        }
      }
    },
    "codigosrea_metadatos" : {
      "type" : "object",
      "required" : [ "codigoUsuario" ],
      "properties" : {
        "codigoUsuario" : {
          "type" : "string",
          "description" : "Código del usuario logado en el portal que consume la  aplicación. Usuario requerido por auditoria. Necesario saber quién crea el recurso.\n"
        },
        "locale" : {
          "type" : "string",
          "description" : "Idioma preferido.",
          "default" : "es-ES"
        }
      }
    },
    "datos_6" : {
      "type" : "object",
      "required" : [ "datos", "metadatos" ],
      "properties" : {
        "metadatos" : {
          "$ref" : "#/definitions/codigosrea_metadatos"
        },
        "datos" : {
          "$ref" : "#/definitions/ReaType"
        }
      }
    },
    "inline_response_200_9" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ReaExtendedType"
          }
        }
      }
    },
    "inline_response_200_10" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ProductoType"
          }
        }
      }
    },
    "inline_response_200_11_datos" : {
      "type" : "object",
      "properties" : {
        "producto" : {
          "$ref" : "#/definitions/ProductoExtendedType"
        }
      }
    },
    "inline_response_200_11" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "$ref" : "#/definitions/inline_response_200_11_datos"
        }
      }
    },
    "inline_response_201_2_datos_declaracionDeValor" : {
      "type" : "object",
      "properties" : {
        "numero" : {
          "type" : "integer",
          "description" : "Número de la Declaración de Valor."
        },
        "anyo" : {
          "type" : "integer",
          "description" : "Año de la Declaración de Valor."
        },
        "version" : {
          "type" : "integer",
          "description" : "Versión de la Declaración de Valor."
        }
      }
    },
    "inline_response_201_2_datos" : {
      "type" : "object",
      "properties" : {
        "declaracionDeValor" : {
          "$ref" : "#/definitions/inline_response_201_2_datos_declaracionDeValor"
        }
      }
    },
    "inline_response_201_2" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "$ref" : "#/definitions/inline_response_201_2_datos"
        }
      }
    },
    "inline_response_200_12" : {
      "type" : "object",
      "required" : [ "datos" ],
      "properties" : {
        "metadatos" : {
          "type" : "object",
          "properties" : { }
        },
        "datos" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AlertasType"
          }
        }
      }
    },
    "ProveedorExtendedType_direccionFiscal" : {
      "type" : "object",
      "properties" : {
        "calle" : {
          "type" : "string",
          "description" : "Calle de la dirección."
        },
        "numero" : {
          "type" : "string",
          "description" : "Número de la dirección."
        },
        "codigoPostal" : {
          "type" : "string",
          "description" : "Código postal."
        },
        "localidad" : {
          "type" : "string",
          "description" : "Localidad de la dirección."
        },
        "provincia" : {
          "type" : "string",
          "description" : "Provincia de la dirección."
        }
      }
    },
    "ProveedorExtendedType_personasContacto" : {
      "type" : "object",
      "properties" : {
        "codigoContacto" : {
          "type" : "number",
          "description" : "Código interno del contacto."
        },
        "nombre" : {
          "type" : "string",
          "description" : "Nombre del contacto relacionado con el proveedor."
        },
        "apellidos" : {
          "type" : "string",
          "description" : "Apellidos del contacto."
        },
        "correoElectronico" : {
          "type" : "string",
          "description" : "Dirección de correo electrónico del contacto."
        },
        "telefono" : {
          "type" : "string",
          "description" : "Teléfono de contacto."
        },
        "envioSMS" : {
          "type" : "boolean",
          "description" : "Marca para enviar o no SMS al contacto en caso de alerta."
        },
        "envioEmail" : {
          "type" : "boolean",
          "description" : "Marca para enviar o no un correo electrónico en caso de alerta."
        },
        "observaciones" : {
          "type" : "string",
          "description" : "Texto libre de observaciones de los contactos del proveedor."
        }
      }
    },
    "ProveedorExtendedType_relacionProveedor" : {
      "type" : "object",
      "properties" : {
        "codigo" : {
          "type" : "number",
          "description" : "Código del Proveedor relacionado."
        },
        "nombre" : {
          "type" : "string",
          "description" : "Nombre del Proveedor relacionado."
        },
        "provincia" : {
          "type" : "string",
          "description" : "Provincia de la dirección fiscal del Proveedor relacionado."
        },
        "fechaInicio" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha desde la que la relación entre los proveedores puede darse para Gestión de Aduanas."
        },
        "fechaFin" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha de fin de la relación entre los proveedores."
        }
      }
    },
    "CabeceraDeclaracionValorType_datosDeclaracion" : {
      "type" : "object",
      "properties" : {
        "codigo" : {
          "type" : "number",
          "description" : "Código de la Declaración de Valor."
        },
        "anyo" : {
          "type" : "number",
          "example" : 2017.0,
          "description" : "Año en el que se ha generado la Declaración de Valor."
        },
        "version" : {
          "type" : "integer",
          "description" : "Código secuencial que identifica a una Declaración de Valor."
        },
        "fecha" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2018-02-03T17:39:44.350Z",
          "description" : "Fecha de creación de la Declaración de Valor."
        },
        "totalImporte" : {
          "type" : "number",
          "example" : 123424.0,
          "description" : "Importe total de la Declaración de Valor."
        }
      },
      "description" : "Datos generales de la Declaración de Valor."
    },
    "CabeceraDeclaracionValorType_datosPedido_provinciaDeCarga" : {
      "type" : "object",
      "properties" : {
        "codigo" : {
          "type" : "string",
          "description" : "Código limite geográfico de la provincia de carga."
        },
        "nombre" : {
          "type" : "string",
          "description" : "Nombre provincia de carga."
        }
      }
    },
    "CabeceraDeclaracionValorType_datosPedido" : {
      "type" : "object",
      "properties" : {
        "fecha" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha del pedido de Mercadona."
        },
        "codigo" : {
          "type" : "string",
          "description" : "Código del pedido."
        },
        "proveedor" : {
          "$ref" : "#/definitions/ProveedorType"
        },
        "provinciaDeCarga" : {
          "$ref" : "#/definitions/CabeceraDeclaracionValorType_datosPedido_provinciaDeCarga"
        },
        "codigoExpedicion" : {
          "type" : "string",
          "description" : "Código del albarán generado en la Expedición del proveedor."
        },
        "condicionesEntrega" : {
          "type" : "string",
          "example" : "FRX",
          "description" : "Se refiere al modo del pago acordado con el proveedor.  Es un string de longitud 3 caracteres.\n"
        },
        "fechaAlbaran" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha del albarán de la Expedición."
        },
        "fechaEnvio" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Fecha de envío de la mercancía."
        }
      },
      "description" : "Datos generales del pedido asociados a la Declaración de Valor."
    },
    "CabeceraDeclaracionValorType_datosExportador" : {
      "type" : "object",
      "properties" : {
        "codigo" : {
          "type" : "string",
          "example" : "8.0",
          "description" : "Código de la empresa exportadora de la mercancia."
        }
      },
      "description" : "Datos del exportador de la mercancía."
    },
    "CabeceraDeclaracionValorType_datosDestinatario" : {
      "type" : "object",
      "properties" : {
        "codigoAlmacen" : {
          "type" : "string",
          "description" : "Código del almacén destino de la mercancía."
        },
        "nombreAlmacen" : {
          "type" : "string",
          "description" : "Nombre del almacén destino."
        }
      },
      "description" : "Datos del importador de la mercancía."
    },
    "LineaDeclaracionValorType_producto" : {
      "type" : "object",
      "properties" : {
        "codigoPublico" : {
          "type" : "integer",
          "example" : 15070,
          "description" : "Código Merca del producto."
        },
        "codigoTaric" : {
          "type" : "number",
          "example" : 2.00799398E9,
          "description" : "Código Taric del Producto  que se exporta. Es un código numérico que se asocia a cada mercancía en función de su naturaleza. Es necesario si se quiere exportar. Longitud de 10 dígitos.\n"
        },
        "codigoRea" : {
          "type" : "string",
          "example" : "02013000T015",
          "description" : "Código REA del producto. Está relacionado con un código merca que antes ha de tener Taric. Sin Código Taric no se puede tener Código REA. Régimen especial de abastecimiento para Canarias.\n"
        },
        "codigoEan13" : {
          "type" : "string",
          "example" : "629",
          "description" : "Código EAN13 del producto."
        },
        "denominacionProducto" : {
          "type" : "string",
          "description" : "Denominación del producto."
        },
        "nombreAlternativo" : {
          "type" : "string",
          "description" : "Nombre alternativo del producto."
        },
        "formatoVentaEstandar" : {
          "type" : "string",
          "description" : "Formato de venta estándar del producto."
        },
        "marca" : {
          "type" : "string",
          "description" : "Marca del producto."
        },
        "descFormatoVentaAlternativo" : {
          "type" : "string",
          "description" : "Descripción del formato de venta alternativa del producto."
        },
        "codigoTipoBulto" : {
          "type" : "string",
          "description" : "Código del tipo de empaquetado."
        },
        "nombreTipoBulto" : {
          "type" : "string",
          "description" : "Nombre del bulto del empaquetado."
        },
        "numeroDeBultos" : {
          "type" : "number",
          "description" : "Número de bultos del producto."
        },
        "pesoNetoLinea" : {
          "type" : "number",
          "description" : "Peso neto total de la línea en kilogramos."
        },
        "pesoBrutoLinea" : {
          "type" : "number",
          "description" : "Peso bruto total de la línea en kilogramos."
        },
        "volumenUnidad" : {
          "type" : "number",
          "description" : "Capacidad de volumen neto de la unidad de venta en litros."
        },
        "cantidadFormato" : {
          "type" : "number",
          "description" : "Cantidad de Producto por formato de venta en unidades."
        },
        "precioUnidad" : {
          "type" : "number",
          "description" : "Precio del Producto por unidad del formato de venta."
        },
        "importeTotal" : {
          "type" : "number",
          "description" : "Importe neto total de la línea."
        },
        "gradoAlcohol" : {
          "type" : "number",
          "description" : "Graduación alcohólica de cualquier bebida alcohólica."
        },
        "gradoPlato" : {
          "type" : "number",
          "description" : "Si el Producto alcohólico es cerveza, necesario indicar el grado plato como requisito para la aduana.\n"
        },
        "paisOrigen" : {
          "type" : "string",
          "description" : "Código ISO 3166-1 alfa-2 del país de origen. Necesario identificar el país origen del producto.\n"
        },
        "esListoParaComer" : {
          "type" : "boolean",
          "description" : "Marca que indica si el Producto está catalogado como Listo para Comer."
        }
      },
      "description" : "Se normaliza el objeto Producto dentro de la línea, por si se incorpora más información en referencia a las línea de las Declaraciones de Valor.\n"
    },
    "AlertasType_declaracionDeValor" : {
      "type" : "object",
      "properties" : {
        "codigo" : {
          "type" : "number",
          "description" : "Código de la Declaración de Valor."
        },
        "anyo" : {
          "type" : "number",
          "example" : 2017.0,
          "description" : "Año en el que se ha generado la Declaración de Valor."
        },
        "version" : {
          "type" : "integer",
          "description" : "Código secuencial que identifica a una Declaración de Valor."
        }
      }
    },
    "AlertasType_receptores" : {
      "type" : "object",
      "properties" : {
        "nombre" : {
          "type" : "string",
          "description" : "Nombre del destinatario de la alerta."
        },
        "apellidos" : {
          "type" : "string",
          "description" : "Apellidos del destinatario de la alerta."
        },
        "email" : {
          "type" : "string",
          "description" : "Email del destinatario de la alerta."
        },
        "telefono" : {
          "type" : "string",
          "description" : "Teléfono del destinatario de la alerta."
        },
        "envioSms" : {
          "type" : "boolean",
          "description" : "Indica si la alerta se ha enviado por el canal SMS(Mensaje de texto) al receptor."
        },
        "envioEmail" : {
          "type" : "boolean",
          "description" : "Indica si la alerta se ha enviado por el canal correo electrónico al receptor."
        }
      }
    }
  }
}